:root {
  color-scheme: dark;

  --color-button-default: var(--color-default-btn-dark);
  --color-button-hover: var(--color-hover-btn-dark);
  --color-button-text-default: var(--color-black);
  --color-button-text-hover: var(--color-white);
}
